#blur_bg{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.htc{
    height: 70vh;
    width: 50%;
    /* left: 301px;
    top: 107px; */
    border-radius: 8px;
    padding: 1%;
    display: flex; 
    justify-content: space-evenly;
    background-color: #393E3A;
    color: white;
    text-align: center;
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
}
.link{
    color: #01C7F2;
    margin-bottom: 35px;

}
.heading{
    height: 5px;
}
#sign{
    /* margin-bottom: 100px; */
    color: white;
    height: 24px;
    width: 24px;
}
.part2 p{
    font-size: 18px;
    padding: 5px;
    margin: 0 0 5px 15px;
}
#close{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 2%;
    margin-left: 5%;
    padding-top: 3%;

}
.part1 h1{
    text-align: left;
}
#close_btn{
    cursor: pointer;
}
#close_btn:hover{
    background-color: red;
}
